/*Footer*/

.footer1{
    background: linear-gradient(rgb(0, 102, 255), rgb(48, 48, 48));
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    
}
.footer1 img{
    padding-bottom: 20px;
}
.footer1 h1{
    font-size: 15px;
}