<div class="square-aboutme" id="About-me">
    <h2 class="text-aboutme">Abuout Me | <a><i class="fa-solid fa-pen-to-square"></i></a></h2>
    <ul>
        <li class="text-aboutme1">I have knowledge in Programing and Maintenance electronic. Besides this, I consider myself someone sociable, communicative with my partner. This skills could help to your company. I’m looking for a job, because, I search pay my studies and continue expanding my knowledge in this two area already mentioned.</li>
    </ul>
</div>
