/*Acerca de mi*/


.square-aboutme{
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}


.text-aboutme {
    display: flex;
}
.text-aboutme1 {
    flex: auto;
    padding-top: 5px;
}

.text-aboutme2 {
    list-style: none;
    padding-right: 20px;
}
