<div class="square-edu">
    <div class="text-edu">
         <div class="text-edu1"><h2><span> Education | </span> Educacion</h2></div>
         <div><h2><app-add></app-add></h2></div>
    </div>
    <ul class="text-edu2" *ngFor="let edu of education">
        <li>
            <div class="education-flex">
                <div class="edu-img">
                    <img class="edu-img1" src={{edu.imagen}}>
                </div>
                    <div class="edu-des">
                    <h3>Titulo: {{edu.titulo}}</h3>  
                    <h4>Institucion: {{edu.institucion}}</h4>
                    <h6>Periodo: {{edu.periodo}}</h6>
                </div>
            </div>
            <div class="edicion">
                <app-delete></app-delete>
            </div>
        </li>
        
    </ul>
</div>