<div class="square-edu">
    <li class="text-edu">Education | <a><i class="fa-solid fa-pen-to-square"></i></a></li>
    <ul class="text-edu1">
        <li>Electronic Engineer  (UTN - FRT,  2016 - ∞).</li>
        <li>Yo Programo - Full Stack (Argentina Programa, 2022 - 2023).</li>
        <li>Programing Python POO (Udemy).</li>
        <li>Automatization in Micro PLC LOGO! Soft Comfort (UTN - FRT).</li>
        <li>Graphic Desing.</li>
        <li>Se Programar (Argentina Programa).</li>
        <li>Basic English Course (UTN - FRT).</li>
    </ul>
</div>