<div class="square-edu">
    <h2 class="text-edu">Education | <app-add></app-add></h2>
    <ul class="text-edu1" *ngFor="let edu of education">
        <li>
            <div class="education-flex">
                <div class="edu-img">
                    <img class="edu-img1" src={{edu.imagen}}>
                </div>
                    <div class="edu-des">
                    <h3>Titulo: {{edu.titulo}}</h3>  
                    <h4>Institucion: {{edu.institucion}}</h4>
                    <h6>Periodo: {{edu.periodo}}</h6>
                </div>
            </div>
            <div class="edicion">
                <app-delete></app-delete>
            </div>
        </li>
        
    </ul>
</div>