.square-edu{
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 30px;
    padding: 20px;
    
}


.text-edu {
    display: flex;
    padding-right: 10px;
}
.text-edu1 {
    flex: auto;
    padding-bottom: 10px;
}

.text-edu2 {
    list-style: none;
    padding-right: 30px;
}

.education-flex{
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 10px;
}

.edu-img{
    border-right: white 5px solid;
    padding-right: 100px;
}

.edu-img1{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.edu-des{
    width: 90%;
    padding-left: 50px;
}


.edicion{
    background-color: rgb(123, 165, 46, 1);
    text-align: end;
    padding-right: 50px;
    border-radius: 10px;
}
