<section class="skills">
  <div class="skill">   
    <div class="knowledge-part">
      <h2><span>knowledge|</span>Conocimientos  <a><i class="fa-solid fa-pen-to-square"></i></a></h2>
      <div class="knowledge">
        <ul>
          <li><h3>HTML5</h3></li>
          <li><h3>CSS</h3></li>
          <li><h3>JavaScript</h3></li>
          <li><h3>Phyton</h3></li>
          <li><h3>C++</h3></li>
          <li><h3>ladder lenguage</h3></li>
          <li><h3>Photoshop</h3></li>
          <li><h3>PC Thecnical Maintenance</h3></li>
        </ul>
      </div>
    </div>
    
    <div class="tools-part">
      <h2><span>Dev.Tools|</span>Herramientas  <a><i class="fa-solid fa-pen-to-square"></i></a></h2>
      <div class="tools">
        <ul>
          <li><h3>Visual Studio Code</h3></li>
          <li><h3>Pycharm</h3></li>
        </ul>
      </div>
    </div>
  </div>
</section>