
/*Skills*/

section.skills{
    background-color: rgba(0, 0, 0,.5);
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    padding-right: 20px;
}

.skills h2{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 40px;
}

.skill {
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    justify-items: center;
    justify-content: center;
    column-gap: 300px;
    row-gap: 75px;
    padding-bottom: 30px;
}


.knowledge ul{
 list-style: none;
}

.knowledge1 {
    display: flex;
}

.know{
    flex: auto;
}

.progress{
    width: 100%;
}

::-webkit-progress-value {
    background-color: rgb(51, 160, 233);}

::-webkit-progress-bar {
    background-color: rgb(255, 255, 255);
 }


.tools ul{
 list-style: none;
}

.tools1 {
    display: flex;
}

.tool{
    flex: auto;
}

.skill h3{
    text-align: start;
}


