
/*Skills*/

section.skills{
    background-color: rgba(0, 0, 0,.5);
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 50px;
    margin-bottom: 30px;
}

.skills h3{
    text-align: center;
    padding-left: 50px;
    padding-bottom: 40px;
}

.skill {
    display: flex;
    justify-content: center;
}

.knowledge-part{
    
    flex: auto;
}

.knowledge ul{
 list-style: none;
 
}

.knowledge1 {
    display: flex;
}

.know{
    flex: auto;
}


 .tools-part{
    
    flex: auto;
}


.tools ul{
 list-style: none;
}

.tools1 {
    display: flex;
}

.tool{
    flex: auto;
}

/*Barra de progreso*/

.progress{
    width: 100%;
}

::-webkit-progress-value {
    background-color: rgb(51, 160, 233);}

::-webkit-progress-bar {
    background-color: rgb(255, 255, 255);
 }
