<section class="skills">
  <div class="skill">   
    <div class="knowledge-part">
      <h2><span>knowledge|</span>Conocimientos  <app-add></app-add></h2>
      <div class="knowledge">
        <ul>
          <li><h3>HTML5 <app-delete></app-delete> <app-edit></app-edit></h3></li>
          <li><h3>CSS <app-delete></app-delete> <app-edit></app-edit></h3></li>
          <li><h3>JavaScript <app-delete></app-delete> <app-edit></app-edit></h3></li>
          <li><h3>Phyton <app-delete></app-delete> <app-edit></app-edit></h3></li>
          <li><h3>C++ <app-delete></app-delete> <app-edit></app-edit></h3></li>
          <li><h3>ladder lenguage <app-delete></app-delete> <app-edit></app-edit></h3></li>
          <li><h3>Photoshop <app-delete></app-delete> <app-edit></app-edit></h3></li>
          <li><h3>PC Thecnical Maintenance <app-delete></app-delete> <app-edit></app-edit></h3></li>
        </ul>
      </div>
    </div>
    
    <div class="tools-part">
      <h2><span>Dev.Tools|</span>Herramientas  <app-add></app-add></h2>
      <div class="tools">
        <ul>
          <li><h3>Visual Studio Code <app-delete></app-delete> <app-edit></app-edit></h3></li>
          <li><h3>Pycharm <app-delete></app-delete> <app-edit></app-edit></h3></li>
        </ul>
      </div>
    </div>
  </div>
</section>