<section class="skills">
  <div class="skill">   
    <div class="knowledge-part">
      <h2><span>knowledge|</span>Conocimientos  <app-add></app-add></h2>
      <div class="knowledge">
        <ul *ngFor="let con of conocimiento1">
          <li><h3>{{con.conocimiento}} <app-delete></app-delete></h3></li>
        </ul>
      </div>
    </div>
    
    <div class="tools-part">
      <h2><span>Dev.Tools|</span>Herramientas  <app-add></app-add></h2>
      <div class="tools">
        <ul *ngFor="let her of herramienta1">
          <li><h3> {{her.herramienta}} <app-delete></app-delete></h3></li>
        </ul>
      </div>
    </div>
  </div>
</section>