/*Briefcase*/

.briefcase{
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(rgb(46, 123, 165), rgb(80, 205, 231), rgb(110, 216, 220), rgb(131, 213, 220), rgb(148, 254, 219));
}

/*rgb(42, 195, 255);

background: linear-gradient(rgb(30, 120, 237), rgb(106, 149, 232), rgb(147, 180, 226), rgb(179, 213, 219), rgb(208, 246, 211));
background: linear-gradient(rgb(52, 142, 169), rgb(49, 121, 149), rgb(45, 100, 129), rgb(40, 79, 110), rgb(35, 60, 91));
background: linear-gradient(rgb(58, 205, 231), rgb(80, 205, 231), rgb(110, 216, 220), rgb(131, 213, 220), rgba(148, 254, 219, 0.322));}
background: linear-gradient(rgb(39, 104, 141), rgb(80, 205, 231), rgb(110, 216, 220), rgb(131, 213, 220), rgba(148, 254, 219, 0));
*/

.Titulo  {
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}
