<header>
  <div class="hero">

    <div class="newbar">
        <nav>
            <ul>
                <li> <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginModal">
                  Login
                </button>
                <button type="button" class="btn btn-primary">
                  Sign off
                </button>
                </li>
            </ul>
        </nav>
    </div>
    <img src="./Img/406197.jpg">
  </div>

  <div class= "profile"> 
    <div class="square"></div>
    <div class="circle-trans"></div>
    <div class="circle"></div>
    <div class="img-profile "><img src="./Img/Sin título.png"></div>
    <div class="square-text">Sebastian Gabriel Vega C.</div>
    <div class="square-text2"><span>Electronic Engineer</span></div>
    <div class="contact-icon">
      <a href="https://www.linkedin.com/in/sebastian-gabriel-vega-castro-84323b174/"><img src="./Img/pngwing.com (1).png"></a>
      <a data-bs-toggle="modal" data-bs-target="#CorreoModal"><img src="./Img/dasd.png"></a>
    </div>
    <div class="square-text3"><a href="#About-me"><span>Abuout Me | </span>Sobre mi</a></div>

  </div>

</header>
<section class="briefcase" id="briefcase">

  <h2 class="Titulo"><span>Briefcase |</span> Portafolio</h2>
      <ul class="square-aboutme" id="About-me">
        <li class="text-aboutme">Abuout Me | <i class="fa-solid fa-pen-to-square"></i></li> 
        <li class="text-aboutme1">I have knowledge in Programing and Maintenance electronic. Besides this, I consider myself someone sociable, communicative with my partner. This skills could help to your company. I’m looking for a job, because, I search pay my studies and continue expanding my knowledge in this two area already mentioned.</li>
      </ul>
  <div class="square-edu">
    <li class="text-edu">Education | <i class="fa-solid fa-pen-to-square"></i></li>
    <ul class="text-edu1">
        <li>Electronic Engineer  (UTN - FRT,  2016 - ∞).</li>
        <li>Yo Programo - Full Stack (Argentina Programa, 2022 - 2023).</li>
        <li>Programing Python POO (Udemy).</li>
        <li>Automatization in Micro PLC LOGO! Soft Comfort (UTN - FRT).</li>
        <li>Graphic Desing.</li>
        <li>Se Programar (Argentina Programa).</li>
        <li>Basic English Course (UTN - FRT).</li>
    </ul>
  </div>
  <div class="square-edu">
    <li class="text-edu">Experience | <i class="fa-solid fa-pen-to-square"></i></li>
    <ul class="text-edu1">
        <li>Call Center Teleperformance - Techinal support Cablevision Fibertel (Teleperformance).</li>
        <li>Instrumentation Croanda S.A.</li>
        <li>Trade Clerk</li>
    </ul>
  </div>    
  <section class="skills">
    <div class="skill">   
      <div class="knowledge-part">
        <h2><span>knowledge|</span>Conocimientos  <i class="fa-solid fa-pen-to-square"></i></h2>
        <div class="knowledge">
          <ul>
            <li><h3>HTML5</h3></li>
            <li><h3>CSS</h3></li>
            <li><h3>JavaScript</h3></li>
            <li><h3>Phyton</h3></li>
            <li><h3>C++</h3></li>
            <li><h3>ladder lenguage</h3></li>
            <li><h3>Photoshop</h3></li>
            <li><h3>PC Thecnical Maintenance</h3></li>
          </ul>
        </div>
      </div>
      
      <div class="tools-part">
        <h2><span>Dev.Tools|</span>Herramientas  <i class="fa-solid fa-pen-to-square"></i></h2>
        <div class="tools">
          <ul>
            <li><h3>Visual Studio Code</h3></li>
            <li><h3>Pycharm</h3></li>
          </ul>
        </div>
      </div>
    </div>
</section>



<footer class="footer1">
<div class="container"></div>
© 2022 Copyright | Designed by Vega Castro Sebastian Gabriel. All rights reserved
</footer>


<!-- Modal Login -->
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
   <div class="modal-header">
      <h1 class="modal-title fs-5" id="LoginModalLabel">Login</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    
      <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><span>E-mail</span></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><span>Password</span></label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"><span>Check me out</span></label>
          </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>
</div>


<!-- Modal Correo -->
<div class="modal fade" id="CorreoModal" tabindex="-1" aria-labelledby="CorreoModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="CorreoModalLabel">Send E-mail</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
    <div class="modal-body">
      <form class="form" action="https://formspree.io/f/xrgdvbro" method="POST">
        <label>
          <h1>Tu correo Electronico:</h1>
          <input type="email" name="email" class="form-control" placeholder="name@example.com">
        </label>
        <label>
          <h1>Mensaje:</h1>
          <textarea name="message" class="form-control" rows="3"></textarea>
        </label>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" role="button">Send</button>
        </div>
      </form>
    </div>
</div>
</div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>



<router-outlet></router-outlet>

