<header>
  <div class="hero">

    <div class="newbar">
        <nav>
            <ul>
                <li> <a class="btn btn-primary" href="#" role="button">Login</a></li>
                <li> <a class="btn btn-primary" href="#briefcase" role="button">Portafolio</a></li>
                <li> <a class="btn btn-primary" href="#About-me" role="button">Sobre mi</a></li>
            </ul>
        </nav>
    </div>
    <img src="./Img/406197.jpg">
    </div>

  <div class= "profile"> 
    <div class="square"></div>
    <div class="circle-trans"></div>
    <div class="circle"></div>
    <div class="img-profile "><img src="./Img/Sin título.png"></div>
    <div class="square-text">Sebastian Gabriel Vega C.</div>
    <div class="square-text2"><span>Electronic Engineer</span></div>
    <div class="contact-icon">
      <a href="https://www.linkedin.com/in/sebastian-gabriel-vega-castro-84323b174/"><img src="./Img/pngwing.com (1).png"></a>
      <a href="#Correo"><img src="./Img/dasd.png"></a>
    </div>
  <div class="square-text3"><a href="#About-me"><span>Abuout Me | </span>Sobre mi</a></div>

  </div>
</header>
<section class="briefcase" id="briefcase">

  <h2 class="Titulo"><span>Briefcase |</span> Portafolio</h2>
      <ul class="square-aboutme" id="About-me">
        <li class="text-aboutme">Abuout Me</li>
        <li class="text-aboutme1">I am looking to obtain experience in different work areas and to solve my studies (Electronic Engineering). I consider myself someone responsible and enthusiastic in learning new things that help me develop professionally, especially in my area of study.</li>
      </ul>
  <div class="square-edu">
    <li class="text-edu">Education</li>
    <ul class="text-edu1">
        <li>Electronic Engineer  (UTN - FRT,  2016 - ∞).</li>
        <li>Yo Programo - Full Stack (Argentina Programa, 2022 - 2023).</li>
        <li>Programing Python POO (Udemy).</li>
        <li>Automatization in Micro PLC LOGO! Soft Comfort (UTN - FRT).</li>
        <li>Graphic Desing.</li>
        <li>Se Programar (Argentina Programa).</li>
        <li>Basic English Course (UTN - FRT).</li>
    </ul>
  </div>   
  <section class="skills">
    <div class="skill container">   
      <div class="knowledge-part">
        <h2><span>knowledge|</span>Conocimientos</h2>
        <div class="knowledge">
          <div>
            <img src="./Img/CSS-1.png">
            <h3>CSS</h3>
          </div>
          <div>
            <img src="./Img/HTML5-1.png">
            <h3>HTML5</h3>
          </div>
          <div>
            <img src="./Img/JavaScript-1.png">
            <h3>JavaScript</h3>
          </div>
          <div>
            <img src="./Img/Python.png">
            <h3>Python</h3>
          </div>
          <div>
            <img src="./Img/C++.png">
            <h3>C++</h3>
          </div>
          <div>
            <img src="./Img/ps5.png">
            <h3>Photoshop</h3>
          </div>
        </div>
      </div>
      
      <div class="tools-part">
        <h2><span>Dev.Tools|</span>Herramientas</h2>
        <div class="tools">
          <div>
            <img src="./Img/Visual Studio Code.png">
            <h3>Visual Studio Code</h3>
          </div>
          <div>
            <img src="./Img/Pycharm.png">
            <h3>Pycharm</h3>
          </div>
        </div>
      </div>
    </div>
</section>




<div id="Correo" class="eins-modal">
<div class="eins-modal-content">
<div class="eins-modal-close"></div>
<form class="form" action="https://formspree.io/f/xrgdvbro" method="POST">
  <label>
    Tu correo Electronico:
    <input type="email" name="email">
  </label>
  <label>
    Mensaje:
    <textarea name="message"></textarea>
  </label>
<button type="submit" class="btn btn-primary" role="button">Send</button>
</form> 
</div>
</div>