<!-- Modal Correo -->
<div class="modal fade" id="CorreoModal" tabindex="-1" aria-labelledby="CorreoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="CorreoModalLabel">Send E-mail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <form class="form" action="https://formspree.io/f/xrgdvbro" method="POST">
            <label>
              <h1>Tu correo Electronico:</h1>
              <input type="email" name="email" class="form-control" placeholder="name@example.com">
            </label>
            <label>
              <h1>Mensaje:</h1>
              <textarea name="message" class="form-control" rows="3"></textarea>
            </label>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" role="button">Send</button>
            </div>
          </form>
        </div>
    </div>
    </div>
    </div>

  
<!--modales editor-aboutme-->

<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="EditModalLabel">About-me</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><span>Agrega una descripcion</span></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!--modales editor-profile-->

<div class="modal fade" id="EditProfile" tabindex="-1" aria-labelledby="EditProfileLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditProfileLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          
          <input class="form-control form-control-lg" type="text" placeholder="Nombre y Apellido" aria-label=".form-control-lg example">
          <div></div>
          <input class="form-control" type="text" placeholder="Titulo" aria-label="default input example">
          <div></div>
          <input class="form-control" type="text" placeholder="Imagen de perfil" aria-label="default input example">
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
