/* Barra de inicio */
.hero{
    background-color: rgb(0, 102, 255);
    position: relative;
}

.nombre{
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.newbar{
    padding-bottom: 5px;
}

.newbar li{
    display: flex;
    flex-direction: row;
    list-style: none;
}


.argentinaprograma{
    flex: auto;
}



.newbar button{
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 15px;
}

.newbar button:hover{
    transform: scale(1.02);
}

.hero1 img{
    width: 100%;
    height: 530px;

}

/* profile */


.profile div{
    position: absolute;
}

.profile{
    display: flex;
    justify-content: center;
}

.square {
    width: 500px;
    height: 460px;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
    top: 110px;

}

.circle-trans{
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px cornflowerblue;
    z-index: 19;
    opacity: 0.2;
    top: 130px;


}

.circle{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px cornflowerblue;  
    z-index: 21;
    top: 160px;
}

.edit {
    top: 20px;
    right: 20px;
    font-size: 1.6rem;
    z-index: 26;

}


.img-profile{
    top: 170px;
    z-index: 20;
}

.img-profile img{
    width: 202px;   
    border-radius: 50%;
}

/*text profile*/

.square-text{
    font-size: 2rem;
    color: white;
    top: 415px;
    z-index: 11;
}

.square-text2  {
    font-size: 1.5rem;
    color: white;
    top: 450px;
    z-index: 11;
}

.square-text3  {
    font-size: 1.6rem;
    color: white;
    top: 525px;
    z-index: 11;
}

.square-text3 a {
    color: white;
    text-decoration: none;
}

.square-text3 :hover {
    border-bottom: rgb(108, 130, 158)solid;
}

.contact-icon {
    top: 485px;
    z-index: 11;
}

.contact-icon img{
    width: 40px;
    margin: 0 15px;
}

.contact-icon img:hover {   
    transform: scale(1.2);
}
