<header>
    <div class="hero">
      <div class="newbar">
          <nav>
                  <li> 
                    <div class="argentinaprograma"><a href="https://argentinaprograma.inti.gob.ar"><img src="assets/Img/Argentina Programa.png"></a></div>
                    <div><app-login></app-login> </div>
                    <div><app-signoff></app-signoff></div>
                  </li>

          </nav>
      </div>
    
    </div>
    <div class="hero1"><img src="assets/Img/Fondo.jpg"></div>
    <div class= "profile" *ngFor="let prof of profile1"> 
      <div class="square"><div class="edit"><app-edit-profile></app-edit-profile></div></div>
      <div class="circle-trans"></div>
      <div class="circle"></div>
      
      <div class="img-profile "><img [src]="prof.imagen"></div>
      <div class="square-text">{{prof.nombre}}</div>
      <div class="square-text2"><span>{{prof.titulo}}</span></div>
      <div class="contact-icon">
        <a target="_blank" href="https://www.linkedin.com/in/sebastian-gabriel-vega-castro-84323b174/"><img src="assets/Img/Linkedin.png"></a>
        <a data-bs-toggle="modal" data-bs-target="#CorreoModal"><img src="assets/Img/Correo.png"></a>
        <a target="_blank" href="https://github.com/seba1042/"><img src="assets/Img/Github2.png"></a>
      </div>
      <div class="square-text3"><a href="#About-me"><span>Abuout Me | </span>Sobre mi</a></div>
    </div>


    <app-modales></app-modales>
</header>


