<div class="square-exp">
    <div class="text-exp">
        <div class="text-exp1"><h2><span>Experience | </span> Experiencia</h2></div>
        <div><h2><app-add-experinece></app-add-experinece></h2></div>
    </div>
    <ul class="text-exp2" *ngFor="let exp of experience">
        <li>
            <div class="experience-flex">
                <div class="exp-img">
                    <img class="exp-img1" src={{exp.imagen}}>
                </div>
                <div class="exp-des">
                    <h3>Empresa: {{exp.empresa}}</h3>  
                    <h4>Puesto: {{exp.puesto}}</h4>
                    <h6>Periodo: {{exp.periodo}}</h6>
                </div>
                <div class="exp-des1">
                    <h6>Descripcion: {{exp.descripcion}} </h6>
                </div>  
            </div>
            <div class="edicion">
                <app-delete></app-delete>
            </div>
        </li>
    </ul>
</div>
