<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginModal">
    Login
</button>

 <!-- Modal Login -->
 <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <h1 class="modal-title fs-5" id="LoginModalLabel">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        
          <form [formGroup]="form" (ngSubmit)="OnEnviar($event)">
              <div class="mb-3">
                <label for="email" class="form-label"><span>E-mail:</span></label>
                <input type="email" formControlName="email" class="form-control" id=""
                [class.border-danger]="MailValid">
              </div>
              <div *ngIf="Mail?.errors && Mail?.touched">
                <p *ngIf="Mail?.hasError('required')" class="error">
                  <span>Introduzca un email</span>
                </p>
                <p *ngIf="Mail?.hasError('email')" class="error">
                  <span>El formato debe ser valido</span>
                </p>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label"><span>Password</span></label>
                <input type="password" formControlName="password" class="form-control" id="" 
                [class.border-danger]="PasswordValid">
              </div>
              <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="error">
                  <span>Introduzca una contraseña</span>
                </p>
                <p *ngIf="Password?.errors" class="error">
                  <span>Debe tener minimo 8 caracteres</span>
                </p>
              </div>
              <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
</div>
