button{
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 15px;
}

button:hover{
    transform: scale(1.02);
}




/*Modals*/

.modal-dialog h1{
    font-size: 18px;
    color: black;
}