/* You can add global styles to this file, and also import other style files */
/* General styles*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

span{
    color: rgb(108, 130, 158);
}

body{
    font-size: 18px;
    font-family: 'signika', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}



/* Barra de inicio */

.hero{
    background-color: rgb(0, 102, 255);
    position: relative;
}

.nombre{
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.newbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.newbar button{
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 15px;
}

.newbar button:hover{
    transform: scale(1.02);
}

.hero img{
    width: 100%;
    height: 530px;

}

/* profile */


.profile div{
    position: absolute;
}

.profile{
    display: flex;
    justify-content: center;
}

.square {
    width: 420px;
    height: 460px;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
    top: 110px;
    /*right: 600px;*/
}

.circle-trans{
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px cornflowerblue;
    z-index: 19;
    opacity: 0.2;
    top: 130px;
    /*right: 663px;*/



}

.circle{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px cornflowerblue;  
    z-index: 21;
    top: 160px;
}

.img-profile{
    top: 170px;
    z-index: 20;
}

.img-profile img{
    width: 202px;   
    border-radius: 50%;
}

/*text profile*/

.square-text{
    font-size: 2rem;
    color: white;
    top: 415px;
    z-index: 11;
}

.square-text2  {
    font-size: 1.5rem;
    color: white;
    top: 450px;
    z-index: 11;
}

.square-text3  {
    font-size: 1.6rem;
    color: white;
    top: 525px;
    z-index: 11;
}

.square-text3 a {
    color: white;
    text-decoration: none;
}

.square-text3 :hover {
    border-bottom: rgb(108, 130, 158)solid;
}

.contact-icon {
    top: 485px;
    z-index: 11;
}

.contact-icon img{
    width: 40px;
    margin: 0 15px;
}

.contact-icon img:hover {   
    transform: scale(1.2);
}


/*Briefcase*/

.briefcase{
    padding-top: 30px;
    background-color: rgb(0, 110, 161);
    max-width: 100%;
    margin: 0 auto;

}

.Titulo  {
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

/*Acerca de mi*/


.square-aboutme{
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 30px;
    margin-top: 30px;
}


.text-aboutme {
    

    font-size: 2rem;
    list-style: none;
    color: rgba(255, 255, 255, 1);

}

.text-aboutme1 {
    
    padding-right: 30px;
    padding-bottom: 30px;
    list-style: none;
    color: rgba(255, 255, 255,1);
}

/*Education*/

.square-edu{
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 30px;
}


.text-edu {
    padding-left: 30px;
    font-size: 2rem;
    list-style: none;
    color: rgba(255, 255, 255, 1);
}

.text-edu1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255,1);
}


/*Skill*/

section.skills{
    background-color: rgba(0, 0, 0,.5);
    border-radius: 10px;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.skills h2{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 40px;
}

.skill {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    justify-items: center;
    justify-content: center;
    column-gap: 300px;
    row-gap: 75px;
    padding-bottom: 30px;
}


.knowledge ul{
 list-style: none;
}

.tools ul{
 list-style: none;
}

.skill h3{
    text-align: center;
}



.footer1{
    background: linear-gradient(rgb(0, 102, 255), rgb(48, 48, 48));
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    
}
.footer1 img{
    padding-bottom: 20px;
}
.footer1 h1{
    font-size: 15px;
}


/* formulario*/

.eins-modal-content{
    background-color: rgb(0, 110, 161);
    padding: 30px;
}

.eins-modal h2{
    text-align: center;
    padding-top: 50px;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

label{
 padding: 5px;
}

/*Modals*/

.modal-dialog h1{
    font-size: 18px;
    color: black;
}