/* You can add global styles to this file, and also import other style files */
/* General styles*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

span{
    color: rgb(108, 130, 158);
}

body{
    font-size: 18px;
    font-family: 'signika', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
