/* You can add global styles to this file, and also import other style files */
/* General styles*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

span{
    color: rgb(108, 130, 158);
}

body{
    font-size: 18px;
    font-family: 'signika', sans-serif;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Barra de inicio */

.hero{
    background-color: rgb(0, 102, 255);
    max-width: 100%;
}

.nombre{
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.newbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.newbar a{
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 15px;
    color: white;
}

.newbar a:hover{
    transform: scale(1.02);
}

.hero img{
    width: 100%;
    height: 530px;

}

/* profile */

.profile div{
    position: absolute;
}

.square {
    width: 420px;
    height: 460px;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
    top: 110px;
    right: 600px;
}

.circle-trans{
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px cornflowerblue;
    z-index: 19;
    opacity: 0.2;
    top: 130px;
    right: 663px;



}

.circle{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px cornflowerblue;  
    z-index: 21;
    top: 160px;
    right: 693px;
}

.img-profile{
    top: 175px;
    right: 706px;
    z-index: 20;
}

.img-profile img{
    width: 202px;   
    height: 202px;
    border-radius: 50%;
}

/*text profile*/

.square-text{
    font-size: 2rem;
    color: white;
    top: 415px;
    right: 630px;
    z-index: 11;
}

.square-text2  {
    font-size: 1.5rem;
    color: white;
    top: 450px;
    right: 720px;
    z-index: 11;
}

.square-text3  {
    font-size: 1.6rem;
    color: white;
    top: 525px;
    right: 706px;
    z-index: 11;
}

.square-text3 a {
    color: white;
    text-decoration: none;
}

.square-text3 :hover {
    border-bottom: rgb(108, 130, 158)solid;
}

.contact-icon {
    top: 485px;
    right: 748px;
    z-index: 11;
}

.contact-icon img{
    width: 40px;
    margin: 0 10px;
}

.contact-icon img:hover {   
    transform: scale(1.2);
}


/*Briefcase*/

.briefcase{
    padding-top: 30px;
    background-color: rgb(0, 110, 161);
    padding-bottom: 30px;
    max-width: 100%;
    margin: 0 auto;

}

.Titulo  {
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

/*Acerca de mi*/


.square-aboutme{
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 30px;
    margin-top: 30px;
}


.text-aboutme {
    padding-left: 30px;

    font-size: 2rem;
    list-style: none;
    color: rgba(255, 255, 255, 1);

}

.text-aboutme1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    list-style: none;
    color: rgba(255, 255, 255,1);
}

/*Education*/

.square-edu{
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
}


.text-edu {
    padding-left: 30px;
    font-size: 2rem;
    list-style: none;
    color: rgba(255, 255, 255, 1);
}

.text-edu1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255,1);
}


/*Skill*/

section.skills{
    background-color: rgba(0, 0, 0,.5);
    border-radius: 10px;

}

.skills h2{
    padding: 40px;
    text-align: center;

}

.skill {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(110px,auto));
    justify-content: center;
    gap: 250px;
    padding-bottom: 100px;
    width: 90%;

}
.skills h2{
    padding-bottom: 70px;
}

.skills img{
    width: 90px;
}

.knowledge {
    display: grid;
    grid-template-columns: repeat(3,50px);
    grid-template-rows: repeat(2,50px);
    gap: 100px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.tools{
    display: grid;
    grid-template-columns: repeat(2,50px);
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
}

.skill h3{
    background-color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    width: 100px;
    transform: translate(0px,-100px);
    transition: transform 0.4s ease,opacity 0.4s ease;
    opacity: 0;

}

.knowledge>div:hover h3,
.tools>div:hover h3{
    opacity: 1;
    transform: translate(0px,-150px);
}

.footer1{
    background: linear-gradient(rgb(0, 102, 255), rgb(48, 48, 48));
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* formulario*/

.eins-modal-content{
    background-color: rgb(0, 110, 161);
    padding-bottom: 30px;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form>label>input{
  border-radius: 10px;
  padding: 10px 80px;
  width: 100%;
}

.form>label>textarea{
    border-radius: 10px;
    padding: 80px;
    width: 100%;

}

label{
 padding: 5px;
}
